* {
  scrollbar-width: pink;  /* not for Firefox ;_; */
  cursor: url('Cursor.png'), not-allowed;
}

header {
  position: sticky;
  left: 0;
  top: 0;            
  width: 100%;    
  background-color: #333; 
  color: white;    
  padding: 20px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;  
}

body {
  font-size: 24px;
  color: "#2020131";
  font-family: Open Sans, sans-serif;
  text-align: center;
  background-image: url('Snowy.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}



/* EFFEKTE */

.rainbow_background {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  color: transparent;
  animation: rainbow 3s ease-in-out infinite;
  width:100%;
}

.rainbow_effect {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 400%;
  background-clip: text;
  color: transparent;
  animation: rainbow 3s ease-in-out infinite;
  text-decoration: underline;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a:hover {
  cursor: pointer;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Für den 3D-Effekt */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); /* Dreht die Karte bei Hover */
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Versteckt die Rückseite, wenn sie nicht sichtbar ist */
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg); /* Rückseite wird um 180 Grad gedreht */
}

.fancy-button {
  display: inline-block;
  background: rgb(239, 29, 29);
  color: white; 
  font-size: 36px;
  text-decoration: none;
  padding: 7px 40px;
  /*border: none;*/
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.6s ease;
}

.fancy-button:hover {
  background: rgb(255, 4, 37);
  box-shadow: 0 10px 17px rgba(0, 0, 0, 0.25);
  transform: skewX(75deg) translateY(250px) scaleY(3) translateX(-900px);
}